
body{
    background:#141414;
    color:white;
    font-family:Arial;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}
/* Navbar contenedor */
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #141414; /* negro Netflix */
    z-index: 1000;
}

/* Lista */
.navbar{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0 40px;
    height: 60px;
}

/* Items */
.navbar li{
    margin-right: 30px;
}

/* Links */
.navbar a{
    text-decoration: none;
    color: #e5e5e5;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* Hover estilo Netflix */
.navbar a:hover{
    color: #e50914; /* rojo Netflix */
}

/* Logo opcional (si luego quieres añadirlo) */
.logo{
    color: #e50914;
    font-size: 22px;
    font-weight: bold;
    margin-right: 40px;
}

form{
    background:#222;
    padding:30px;
    border-radius:8px;
    width:350px;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input, select, textarea{
    padding:10px;
    border:none;
    border-radius:4px;
}

button{
    background:#e50914;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    border-radius:4px;
}

button:hover{
    background:#f6121d;
}